html,body{
    background: #0A2390;
}

form#create_event_form h3 {
    color:#fff;
    font-weight: bold;
}

form#create_event_form h4 {
    color:#fff;
    font-weight: bold;
}

form#create_event_form h5 {
    color:#fff;
    font-weight: bold;
}

form#query_report_form h3 {
    color: #fff;
    font-weight: bold;
}

form#query_report_form h4 {
    color: #fff;
    font-weight: bold;
}

form#query_report_form h5 {
    color: #fff;
    font-weight: bold;
}

form#more_info_form h4 {
    color: #ffffff;
    font-size: 110%;
    font-weight: bold;
}

form#more_info_form h5 {
    color: #ffffff;
    font-size: 110%;
    font-weight: bold;
}

form#more_info_form ul li a {
    color: #91bad6;
    font-size: 100%;
}

form#more_info_form ul li a:hover {
    color: #528aae;
}

::marker {
    color: #2d3337;
    background: #ffffff;
}

p {
    color: #2d3337;
    font-size: 100%;
}

b{
  color: #2d3337;
}

body {
    padding-top: 50px;
    overflow: hidden;
}

hr {
    color:#BABABA;
}

.sidebar {
    padding: 12px;
    background: #0A2390;
}

form {
    padding-top: 12px;
    background: #0A2390;
}
.form-control {
    margin: 5px;
}

.severity {
    margin-bottom: 30px;
}

select.length_select {
    margin-bottom: 30px;
}

label.control-label {
    vertical-align: middle;
    padding-top: 10px;
    padding-right: 2px;
}

label {
    color: #fff;
}

#map-canvas {
    height:100%;
    position: absolute;
    overflow-y: scroll !important;
    right:0;
}

.nav.nav-pills a:hover{
    background-color: #2d3337;
}

ul#pills-tab.nav.nav-pills.red li.active a{
    background-color: #ffffff;
    color: #0A2390;
    border: 2px solid #ffffff;
    font-weight: bold;
}

ul#pills-tab.nav.nav-pills.red li a{
    color: #ffffff;
    border: 2px solid #ffffff;
    font-weight: bold;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #2d3337;
}

nav.navbar.navbar-inverse.navbar-fixed-top a.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

nav.navbar.navbar-inverse.navbar-fixed-top a:hover {
    color: #ffffff;
}

#slider-range{
    margin-bottom: 10px;
}

#slider-range-month{
    margin-bottom: 10px;
}

.ui-slider-range {
    background: #ef2929;
    border-color: #ef2929;
}

#date{
    background-color: #0A2390;
    outline: none;
}

#month{
    background-color: #0A2390;
    outline: none;
}

.col-xs-3{
    height: 94vh;
    overflow-y: scroll !important;
    top: 0;
    bottom: 0;
    /*height: 95vh;*/
}

#create_event_form p{
    color: #ffffff;
}

#query_report_form p{
    color: #ffffff;
}

#more_info_form p{
    color: #ffffff;
}

.button {
    background-color: #0A2390;
    border: none;
    color: #ffffff;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
}

.button5 {border-radius: 50%;
}

i.glyphicon.glyphicon-info-sign {font-size: 150%;
    color: #ffffff;
}

i.glyphicon.glyphicon-info-sign:hover {color: #ef2929;
}

div.popover-content {
    background-color: #2d3337;
    color: #ffffff;
    font-weight: bold;
}

h3.popover-title {
    background-color: #0A2390;
    color: #ffffff;
    font-weight: bold;
}